.ishigalleryblock{
    display: block;
    overflow: hidden;
    text-align: center;
    @media (max-width: 767px) {/* If media is below 544 */
        margin-bottom: 10px;
    }
    @media (max-width: 543px) {/* If media is below 544 */
        margin-bottom: 30px;
    }
    .galleryfilter{
        margin: 15px 0 30px;
        @media (max-width: 767px) {/* If media is below 544 */
            margin-bottom: 15px;
        }
    }
    .bannerblock{
        @media (max-width: 543px) {/* If media is below 544 */
            margin-bottom: 0;
        }
    }
    > .container{
        >.row{
            @media (max-width: 543px) {/* If media is below 544 */
                margin: 0 -10px;
            }
        }    
    }
    #portfolio{
        &:last-child{
            margin-bottom: 0;
        }
    }
    .gallery-container{
        @media (max-width: 767px) {/* If media is below 544 */
            margin-bottom: 30px;
        }
        @media (max-width: 543px) {/* If media is below 544 */
            margin-bottom: 10px;
            padding: 0 5px;
        }
    }
    button{
        background: transparent none repeat scroll 0 0;
        border: medium none;
        display: inline-block;
        color:$black-color;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.48px;
        margin: 0;
        outline: medium none;
        padding: 10px 20px;
        line-height: 20px;
        position: relative;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        @media (max-width: 543px) {/* If media is below 544 */
            font-size: 13px;
            padding: 10px;
        }
        &.is-active{
            background:#f5f5f5;
            color: $brand-primary;
        }
    }
}