.owl-carousel{
	.owl-nav {
		text-align: center;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		.owl-prev, .owl-next {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #f5f6f7;
			background: #f5f6f7;
			text-align: center;
			position: relative;
			margin:4px;
			outline: none;
			width: 35px;
			height: 35px;
			line-height: 35px;
			border-radius: 50%;
			transition: all 600ms ease;
			-webkit-transition: all 600ms ease;
			-moz-transition: all 600ms ease;
			-ms-transition: all 600ms ease;
			-o-transition: all 600ms ease;
			&:hover {
				border-color: $brand-primary;
				background: $brand-primary;
				i{
					&:before{
						color: $light-color;
					}
				}	
			}
		}
		i{
			&:before {
				font-size: 19px;
				line-height: 26px;
				color: $brand-primary;
				position: relative;
				text-align: center;
				font-weight: 400;
				margin: 0 auto;
				transition: all 600ms ease;
				-webkit-transition: all 600ms ease;
				-moz-transition: all 600ms ease;
				-ms-transition: all 600ms ease;
				-o-transition: all 600ms ease;
			}
		}
		.owl-next{
			&:before,&:after{
				left: 24px;
			}
			i{
				&:before{
					margin-left: 3px;
				}
			}	
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 15px;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		.owl-dot {
			display: inline-block;
			vertical-align: middle;
			outline: none;
			span {
				width: 12px;
				height: 12px;
				border-radius: 50px;
				background: $brand-secondary;
				border: 1px solid $brand-secondary;
				margin: 0 5px;
				display: block;
			}
			&.active {
				span {
					background: $brand-primary;
					border-color: $brand-primary;
				}
			}
		}
		&.ishi-style-dot1 {
			.owl-dot {
				span {
					border-radius: 0;
				}
			}
		}
		&.ishi-style-dot2 {
			.owl-dot {
				span {
					border-radius: 50%;
				}
			}
		}
		&.ishi-style-dot3 {
			.owl-dot {
				span {
					border-radius: 0;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
				}
			}
		}
		&.ishi-style-dot4 {
			.owl-dot {
				span {
					width: 25px;
					height: 5px;
					border-radius: 0;
				}
			}
		}
		&.ishi-style-dot5 {
			.owl-dot {
				span {
					width: 25px;
					height: 6px;
					border-radius: 5px;
				}
			}
		}
	}
}