$brand-primary: #000000;
$brand-secondary: #043f82;
$icon-color: #000000;
$icon-responsivecolor: #000000;
$breadcrumb_color:#f5f5f5;
$breadcrumb_image:"http://shopnc.demo/image/catalog/breadcrumb.jpg";
$rgba-bgcolor:rgba(4, 63, 130, .6);
$btn-primary-bg-color:#000000;
$btn-hover-primary-bg-color:#043f82;
$btn-primary-text-color:#ffffff;
$btn-hover-primary-text-color:#ffffff;
$btn-secondary-bg-color:#043f82;
$btn-hover-secondary-bg-color:#000000;
$btn-secondary-text-color:#ffffff;
$btn-hover-secondary-text-color:#ffffff;
$header-top-bg-color:#043f82;
$header-top-text-color:#ffffff;
$header-bg-color:#ffffff;
$header-text-color:#666666;
$header-hover-text-color:#ffffff;
$product-icon-color:#000000;
$product-hover-icon-color:#043f82;
$footer-bg-color:#ffffff;
$footer-bg-image:"";
$footer-title-color:#151515;
$footer-text-color:#666666;
$footer-hover-text-color:#043f82;
